
.cyan{
    color: #15C8FF;
}
.default{
    color: #1E1142;
}
.gray{
    color: #717972;
}
.blue{
    color: #2563EA;
}
.light-blue{
    color: #BEE9FF;
}
.pink{
    color: #7731D8;
}
.text-green{
    color: #379F00 !important;
}